html ,body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    color: #039BE5;
    cursor: none;
}

p {
    margin: 0;
}

div#debug_side {
    color: white;
    position: absolute;
    top: 0px;
    left: -370px;
    height: calc(100% - 20px);
    width: 350px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.25);
    transition: 0.25s ease all;
}
div#debug_side.open {
    left: 0px;
}

div#debug_side .debug_toggler{
    position: absolute;
    top: 0px;
    background: rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content:center;
    align-items: center;
    display: flex;
    right: -40px; 
}
div#debug_side .debug_toggler:hover {
    background: rgba(0,0,0,0.65);
}
div#debug_side .debug_toggler:active {
    background: rgba(0,0,0,0.85);
}
div#debug_side.open .debug_toggler{
    right: 0px;
    transition: 0.25s ease all;
}

div#debug_side .debug_inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px
}
.eventLogItem:hover {
    background: rgba(255,255,255,0.1);
}


p.eventLogItem {
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 5px; 
     border-left: 2px solid transparent; 
}

p.eventLogItem:hover, p.eventLogItem.selected {
    background: rgba(0, 0, 0, 0.75);
    border-left: 3px solid #0288D1; 
    transform: scale(1.025);
    transition: 0.15s ease all!important;
    box-shadow: 0 0 15px #0288D1;
}

p.eventLogItem.deleting {
    transition: all 0.5s linear 0s!important;
}

div#events_log {
    padding: 5px;
    height: 50%;
    width: calc(100% - 10px);
    overflow: hidden;
    overflow-y: scroll;
    cursor: none;
    display: block;
    background: rgba(0,0,0,0.25);
}

div#events_log::-webkit-scrollbar {
    display: none;
}

div#events_log {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.titleMenu {
    background: rgba(61, 129, 255, 0.16);
    padding: 2px 5px;
    margin: 2px 0;
}

.customMenu button {
    /* padding: 5px 10px; */
    /* font-size: 14px; */
    /* color:white; */
    /* border-bottom: 1px solid gray; */
    /* background: #444; */
    /* outline: none; */
    /* border: none; */
}

.customMenu button.disabled {
    background: #585858;
    color: #ababab;
    pointer-events: all;
}
.customMenu button:not(.disabled):hover {
    /* background: #039BE5; */
    /* color: black; */
}


/******custom cursor*********/

button, a {
    cursor: none;
}

#customCursor {
    position: absolute;
    pointer-events: none;
    z-index: 99999999;
}


.svg-2.clicking path {
    d: path("M1,2 L9,16 C 9 16, 20 20, 16.5 8 L16.5,8 L1,2");
  }

.svg-2.clicking ellipse{
    rx: 3.5;
    ry: 3.5;
    cx: 12.5;
    cy: 12;
    stroke: #4c4c4c;
    transform-origin: calc(50% + 2.5px) calc(50% + 2px);
    animation: mymove 2.5s infinite linear;
    stroke-dasharray: 2, 1, 2, 1, 2, 1;
}


  
svg polyline,
svg line,
svg path {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
#customCursor path.outline {
  fill : rgba(3, 169, 244, 0.25);
}

#customCursor.clicking path.outline {
    fill: black;
    stroke: #03A9F4;
}

#customCursor.clicking ellipse#svg_14 {
    cx: 12.5;
    cy: 12;
    ry: 5;
    rx: 5;
}



@keyframes mymove {
  100% {transform: rotate(360deg);}
}
/****************************/



/***********FANCY HOVER EFFECT************/
:root {
    --px: 0;
    --py: 0;
  }
  
  
  .fancy-hover {
    background: #242424;
    border: none;
    background: rgba(36,36,36,0.9);
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    position: relative;
    overflow: hidden;
    border-bottom: solid 1px #333;
    z-index: 2;
    transition: background-color 0.2s linear;
  }
  
  
  .fancy-hover:before,
  .fancy-hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.1s linear;
  }
  
  .fancy-hover:before {
    width: 260px;
    height: 220px;
    background: radial-gradient(circle at center, #FFF 0%, transparent 60%); 
    opacity: 0;
    mix-blend-mode: screen;
    transform: translate( 
      calc( var(--px) * 1px ),
      calc( var(--py) * 1px ) 
    ) translate(-50%, -50%);
    
  }
  
  .fancy-hover:after {
    background: inherit;
    margin: 2px;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0;
    transition-delay: 0.05s;
  }
  
  
  .fancy-hover:hover { background-color: rgba(56,56,56,0.9); }
  .fancy-hover:hover:before { opacity: 0.6; }
  .fancy-hover:hover:after { opacity: 0.85; transition-delay: 0s; }
  
  /* ////////////////////////////////////////////////////////////////////////// */
  
  .fancy-hover--blue:hover { background-color: #24455E; }
  
  /* ////////////////////////////////////////////////////////////////////////// */
  
  .customMenu { overflow: hidden; border: solid 1px #444444; width: 15em; border-radius: 3px; opacity: 0.958; }
  .customMenu :last-child { margin-bottom: 0; }
  .fa { width: 1.25em; margin-right: 0.5em; font-size: 1.25em; text-align: center; }
 
  
/*****************************************/